<main role="main" class="flex-grow-1 sign-in">
  <div class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputText" class="sr-only">Username</label>
    <input type="text" class="form-control" placeholder="Username" required autofocus id="username">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" class="form-control" placeholder="Password" required id="password">

    <button class="btn btn-lg btn-primary btn-block" id="submit">Sign in</button>
  </div>

</main>